.message__item:focus, .message__item:hover {
  background-color: #f4f4f4;
  outline: none;
}
.message__item:first-of-type:focus,
.message__item:first-of-type:hover {
  background-color: transparent;
  outline: none;
}
.m-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-header > h6 {
  font-size: .875rem;
  font-weight: 500;
}
.m-header > div {
  color: #6554c0;
  font-size: .875rem;
  display: flex;
  align-items: center;
}
.m-header > div > img {
  display: inline-block;
  margin-right: .3125rem;
}

.message__item > .m-body {
  background-color: #6554c0;
  padding: .6875rem .875rem;
  margin-bottom: .625rem;
  margin-top: .625rem;
  color: #ffffff;
  font-size: .875rem;
  line-height: 1.56;
  border: 1px solid #e9edf0;
  border-radius: .625rem .625rem .625rem 0;
}
.message__item > .m-main-body {
  background-color: #fbfdff;
  color: #595e8a;
}
.message__item > .m-footer {
  color: #5e6c84;
  font-size: .75rem;
  display: flex;
  align-items: center;
}
.m-footer > .m-main-time {
  color: #212242;
}
.m-footer > .m-receipt > span {
  color: #6554c0;
  margin-left: .4375rem;
}
.m-footer > .m-receipt > span:last-of-type {
  margin-left: -.375rem;
}
